body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

#opening {
    height: 100vh;
    overflow: hidden;
    position: relative;
}


#backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#backgroundImage img {
    width: 100%;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px 10px rgba(0, 128, 4, 0.5);
}

.centered-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

#scrollArrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#arrowImage {
    width: 40px;
    height: 40px;
    animation: bounce 2s infinite;
    filter: invert(100%);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#scrollArrow:hover #arrowImage {
    filter: brightness(120%);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #555;
}

section {
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

p {
    font-size: 1.1em;
    line-height: 1.4;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}


